.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* boostrap form style */

/* Login.css */

.login-form {
  max-width: 1000px;
   /* Adjust the max-width to your desired size */
  margin: 0 auto;
}

.login-form .form-control {
  height: 45px; /* Adjust the height to your desired size */
  font-size: 20px;
}

.login-form .btn-primary {
  height: 50px; /* Adjust the height to match the input field height */
  font-size: 18px;
  padding: 10px 30px;
}


span.input-group-addon {
  width: 50px !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.nav-tabs {
  display: flex;
  justify-content: space-between;
}

.nav-tabs .nav-link {
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #343a40;
  border: 1px solid transparent;
  border-radius: 0.25rem 0.25rem 0 0;
}

.nav-tabs .nav-link:hover {
  background-color: #495057;
}

.nav-tabs .nav-link.active {
  background-color: #fff;
  color: #343a40;
  border-color: #dee2e6 #dee2e6 #fff;
}
.navbar-button {
  margin-left: 1rem;
}

.navbar-button:hover {
  background-color: #fff;
  color: #343a40;
}

